extends layout
block styles
  link(rel='stylesheet', href='/stylesheets/chat.css')
block scripts
  script(src='/javascripts/chat.js', type='text/javascript')
block content
  .chatroom
    form#chat-section(action='javascript:;', onSubmit="App.onMessage(event)", method='post')
      h3 Chat Room
      #room.message-section.custom
        .message.own
            p.content my message is peace
            p.username ~ You
        .message.other
            p.content my message is war
            p.username ~ Muhammad Faizan
      .text-wrapper
        fieldset
          textarea(onkeyup='App.messageKeyPressHandler(event)', placeholder='Your Message', autocomplete='off', id='message', row='5', type='textarea', tabindex='1', required='', autofocus='')
      fieldset
        button#chat-submit(name='submit', type='submit', data-submit='...Sending') Submit
      p.copyright
        | Developed by 
        a(href='https://github.com/muhammadfaizan/chatter', target='_blank', title='Muhammad Faizan') Muhammad Faizan
