extends layout

block content

  script(src='/javascripts/main.js', type='text/javascript')
  .container
    form#contact(action='javascript:;', onSubmit="App.onNameFormSubmit(event)", method='post')
      h3 Chatter
      h4 A sample app for every chat
      fieldset
        input(placeholder='Your name', id='name' type='text', tabindex='1', required='', autofocus='')
      fieldset
        button#contact-submit(name='submit', type='submit', data-submit='...Sending') Submit
      p.copyright
        | Developed by 
        a(href='https://github.com/muhammadfaizan/chatter', target='_blank', title='Muhammad Faizan') Muhammad Faizan
